.body {
  display: flex;
}
.divPadre {
  display: flex;
  justify-content: space-between;
}

.laTabla {
  border-collapse: collapse;
  width: 58%;
}

.tabla_del_carro {
  border-collapse: collapse;
  width: 42%;
}
/*modificando
